<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card p-4">
        <div class="card-body">
          <h1 class="mb-3">Change Password</h1>
          <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value.password)">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text icon-lock"></span>
              </div>
              <input
                class="form-control"
                type="{{ showPassword ? 'text' : 'password' }}"
                placeholder="Password"
                formControlName="password"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text icon-lock"></span>
              </div>
              <input
                class="form-control"
                type="{{ showPassword ? 'text' : 'password' }}"
                placeholder="Confirm Password"
                formControlName="confirmPassword"
              />
              <div class="input-group-append" (click)="showPassword = !showPassword">
                <span class="input-group-text fa fa-eye"></span>
              </div>
            </div>
            <div
              *ngIf="changePasswordForm.errors?.confirmPasswordNotMatch &&
                changePasswordForm.controls.password.value &&
                changePasswordForm.controls.confirmPassword.value"
              class="cross-validation-error-message alert alert-danger">
              Passwords do not match
            </div>
            <button type="submit"
                    class="btn btn-primary"
                    [disabled]="(changePasswordForm.errors &&
                    changePasswordForm.controls.password.value &&
                    changePasswordForm.controls.confirmPassword.value) ||
                    !(changePasswordForm.touched || changePasswordForm.dirty)"
            >
              Change Password
            </button>
            <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
